<html lang="en">

<%- include('./partials/head.ejs') %>

<body class="home">
    <%- include('./partials/nav.ejs') %>
    <div class="home_content">
        <h2>Welcome to our blogging site!</h2>\

        <p>We're thrilled to have you here and hope you enjoy your visit. Our mission is to provide high-quality, informative,
        and engaging content that will keep you coming back for more. Whether you're a long-time reader or just stumbled upon our site,
        we're confident you'll find something that piques your interest.</p>
            <br>
        <p>Our blog covers a wide range of topics, from lifestyle and wellness to business and technology. We strive to bring you the
        latest trends, insights, and perspectives on the issues that matter most to you. Our team of experienced writers and industry
        experts is committed to delivering content that is not only informative but also thought-provoking and entertaining.</p>
            <br>
        <p>So, take a look around and explore our site. We're constantly adding new content, so be sure to check back often for the
        latest updates. And if you have any questions, comments, or suggestions, don't hesitate to reach out to us. We love
        hearing from our readers and are always looking for ways to improve our blog.</p>
            <br>
        <p>Thank you for choosing to spend your time with us. We hope you enjoy your stay!</p>
        
        <a href="/blogs">
        <button>Blogs <i class="uil uil-caret-right"></i></button>
        </a>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>